section.sidebar
	button.mdi.mdi-close.btn-menu
	.sidebar-header
		.logo
			a(href="/")
				img(src="/images/logo-fff.png", alt="logo-fff")
	nav.sidebar-body
		li
			a(href="/")
				i.mdi-chart-line
				span Dashboard
		li
			a(href="/employees")
				i.mdi-account-group
				span Employees
		li
			a(href="/accounts")
				i.mdi-shield-account
				span Accounts
		li
			a(href="#")
				i.mdi-settings
				span Settings