.user-action
	if user
		.username
			span= user.username
			span  ( #{user.owner.name} )
		nav.nav-actions
			li
				a(href="/employee/" + user._id) Profile
			li
				a(href="#") Change password
			li
				a(href="/logout") Log out
	else
		a(href="/login") Login