
// ====== SIDEBAR ======
.sidebar
	width: 128px
	height: 100vh
	display: flex
	flex-direction: column
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3)
	position: fixed
	top: 0
	left: -200px
	z-index: 3
	transition: left .3s ease-in-out
	.btn-menu
		position: absolute
		left: calc(100% + 15px)
		top: 5px
	&.collapse
		left: 0
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100vw
			height: 100vh
			background: rgba(#000, .5)
			z-index: -1
	.sidebar-header
		padding: 10px
	.sidebar-header,
	.sidebar-body
		background: #FBEBF3
	.sidebar-body
		color: #D2398C
		height: 100%
		overflow-y: auto
		&::-webkit-scrollbar
			width: 4px
		&::-webkit-scrollbar-track
			background: #E5E5E5
			border-radius: 99px
		&::-webkit-scrollbar-thumb
			border-radius: 99px
			background: rgba(#D2398C,.3)
		&::-webkit-scrollbar-thumb:hover
			background: #D2398C
		li
			text-align: center
			margin-top: 30px
		a
			display: inline-flex
			flex-direction: column
		i
			display: inline-block
			font-family: 'Material Design Icons'
			font-size: inherit
			text-rendering: auto
			line-height: 1
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			font-size: 36px
@media screen and (max-width: 767.97px)
	.sidebar
		width: 100px
		left: -160px