doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="/images/favicon.png")
    link(rel='stylesheet' href='/stylesheets/libs.min.css')
    link(rel='stylesheet' href='/stylesheets/main.min.css')
    title= title
  body
    block header
    main
      block main
    block footer
    script(src="/javascripts/libs.min.js")
    script(src="/javascripts/main.min.js")