section.sidebar
	button.mdi.mdi-close.btn-menu
	.sidebar-header
		.logo
			a(href="#")
				img(src="./images/logo-fff.png", alt="logo-fff")
	nav.sidebar-body
		li
			a(href="#")
				i.mdi-account-group
				span Customer
		li
			a(href="#")
				i.mdi-shield-account
				span Accounts
		li
			a(href="#")
				i.mdi-settings
				span Settings